<!--The content below is only a placeholder and can be replaced.-->

<div class="ui-grid">
  <div class="ui-g-12">
    <div class="ui-g-12">
      <span>Porównianie metod rozwiązywania równań nieliniowych metodami bisekcji i regula-falsi</span>
    </div>
    <div class="ui-g-12">
      <app-form></app-form>
    </div>
    <div class="ui-g-6">
      <div class="ui-g-12">
        <span>Bisekcja</span>
      </div>
      <div class="ui-g-12">
        <app-bisection></app-bisection>
      </div>
    </div>
    <div class="ui-g-6">
      <div class="ui-g-12">
        <span>Regula-falsi</span>
      </div>
      <div class="ui-g-12">
        <app-regula-false></app-regula-false>
      </div>
    </div>
  </div>
</div>

