<div class="ui-g-nopad">
  <div class="ui-g-12 ui-g-nopad">
<!--    <p-chart type="line" [data]="data" [options]="options"></p-chart>-->
    <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
  </div>
  <div class="ui-g-nopad">
    <div class="ui-g-6">
      <p-button class="buttons" label="Poprzedni krok" (onClick)="previousStep()"></p-button>
      <p-button class="buttons" label="Następny krok" (onClick)="nextStep()"></p-button>
    </div>
    <div class="ui-g-6">
      <span> Wynik: {{finalResult}}</span><br>
      <span> Wartość: {{finalValue}}</span><br>
      <span> Kroki: {{actualStep}}/{{steps}}</span>
    </div>
    <div class="ui-g-12">
      <p-table [value]="this.p.getSteps()">
        <ng-template pTemplate="header">
          <tr>
            <th>Wynik</th>
            <th>Wartość</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-step>
          <tr>
            <td>
              {{step.key}}
            </td>
            <td>
              {{step.value}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
