<div class="ui-g center">
  <div class="ui-g-12">
    <div class="ui-g-3">
      <div class="ui-g-12">
        <span>Typ</span>
      </div>
      <div class="ui-g-12">
        <p-dropdown [options]="types" [(ngModel)]="selectedType" ></p-dropdown>
      </div>
    </div>
    <div class="ui-g-3">
      <div class="ui-g-12">
        <span>Początek zakresu</span>
      </div>
      <div class="ui-g-12">
        <input type="text" pInputText pKeyFilter="num" [(ngModel)]="rangeStart">
      </div>
    </div>
    <div class="ui-g-3">
      <div class="ui-g-12">
        <span>Koniec zakresu</span>
      </div>
      <div class="ui-g-12">
        <input type="text" pInputText pKeyFilter="num" [(ngModel)]="rangeEnd">
      </div>
    </div>
    <div class="ui-g-3">
      <div class="ui-g-12">
        <span>Precyzja (przykładowy format: 0.0001)</span>
      </div>
      <div class="ui-g-12">
        <input type="text" pInputText  [(ngModel)]="accuracy">
      </div>
    </div>
    <div class="ui-g-12">
      <span>Podaj wartości od x0 do xn</span>
    </div>
    <div class="ui-g-12">
      <p-chips [(ngModel)]="polynomial" (onAdd)="printPolynomial()" (onRemove)="printPolynomial()"></p-chips>
    </div>
    <div class="ui-g-12">
      <span>Wielomian: {{polynomialString}}</span>
    </div>

    <div class="ui-g-12">
      <p-button class="buttons" label="Oblicz" (onClick)="calculate()"></p-button>
      <p-button class="buttons" label="Wyczyść" (onClick)="clearInputs()"></p-button>
    </div>
  </div>
</div>
